{% load mezzanine_tags keyword_tags %}
{% load pages_tags i18n staticfiles %}
{% load propuestasTags %}

<div class="fluid-container caja_propuesta">
    <div class="row">
        <div class="col-md-12 middle blockmain">
        {% if request.user.is_authenticated %}
            {% has_permissions_propuesta propuesta request.user as perm_prop %}
            {% if perm_prop %}
                <div class="geekly_buttons">
                    <a class="btn-primary btn btn-sm pull-right color_white" href="#" data-toggle="modal"
                       data-target="#propuesta_{{ propuesta.id }}">{% trans "Edit" %}</a>
                    {% include "includes/form_propuesta.html" %}
                    <button class="btn btn-sm btn-danger pull-right" onclick="swal({
                            title: 'Estás seguro',
                            text: '{{ propuesta.tile }} será eliminado!',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonClass: 'btn-danger',
                            confirmButtonText: 'Sí, borrar la propuesta!',
                            cancelButtonText: 'No, no la borres aún!',
                            closeOnConfirm: false,
                            closeOnCancel: false
                            },
                            function(isConfirm){
                            if (isConfirm) {
                            $('.confirm-propuesta-{{ propuesta.pk }}').click();
                            swal('Borrado!', '{{ propuesta.title }} se ha borrado.', 'con éxito');
                            } else {
                            swal('Espera...', 'No podemos borrar  {{ propuesta.title }} :)', 'error');
                            }
                            });">
                        {% trans 'Delete' %}
                    </button>
                    <form action="delete_propuesta" method="post" name="delete">
                        {% csrf_token %}
                        <input readonly="readonly" class="form-control" type="hidden" name="pk"
                               value="{{ propuesta.pk }}">
                        <input type="submit" class="confirm-propuesta-{{ propuesta.pk }}"
                               style="display:none;">
                    </form>
                </div>
            {% endif %}
         {% endif %}
            <div class="propuesta_title col-sm-6">
                <span class="estado_propuesta btn-info"> {% if propuesta.estado_propuesta == 0 %}
                    Enviado{% elif propuesta.estado_propuesta == 1 %}
                    Aceptado{% elif propuesta.estado_propuesta == 2 %}
                    Rechazado {% endif %}</span>
                <a href="{{ propuesta.get_absolute_url }}">{{ propuesta.title }}</a>
            </div>
            <div class="actions">
                    {% if request.user.is_authenticated %}
                        <form action="{{ propuesta.get_absolute_url }}/like" method="post"
                            id="likePropuesta_form_{{ propuesta.id }}">
                            {% csrf_token %}
                            <input readonly="readonly" class="form-control" type="hidden" name="pk"
                                   value="{{ propuesta.pk }}">
                            <span><img class="puntero {% if likePropuesta %}corazon{% else %}corazon_gray{% endif %}"
                                    id="submit_likePropuesta_{{ propuesta.id }}" src="/static/images/corazon.png"
                                    onclick="manage_likePropuesta('{{ propuesta.id }}', '{{ propuesta.slug }}');"/> <span
                                    id="propuesta_like_{{ propuesta.id }}">{{ number_of_likes }}</span>
                            <span><img src="/static/images/comments.png" style="width: 4%"/>{{ comments.count }}</span>
                            </span>
                        </form>
                    {% else %}
                        <span><img class="{% if likePropuesta %}corazon{% else %}corazon_gray{% endif %}"
                                id="submit_likePropuesta_{{ propuesta.id }}" src="/static/images/corazon.png"
                        /> <span
                                id="propuesta_like_{{ propuesta.id }}">{{ number_of_likes }}</span>
                       <span><img src="/static/images/comments.png" style="width: 4%"/>{{ comments.count }}</span>
                        </span>
                    {% endif %}
            </div>
            <br><br>
            {% if propuesta.descripcion %}
                <div class="destacado_propuesta">Descripción de la propuesta</div>
                <p>{{ propuesta.descripcion }}</p>
            {% endif %}
            {% if propuesta.archivo %}<a href="{{ propuesta.archivo.url }}"
                                          target="_blank">{{ propuesta.archivo|getnames }}</a>{% endif %}
        </div>
    </div>
 </div>