{% load mezzanine_tags i18n %}

<div class="container">
    <form action="/propuestas/" method="post" class="navbar-form navbar-center" role="search">{% csrf_token %}
        <div class="filter-form">
            <div class="input-group form-group">
                <input class="input-sm form-control" placeholder="{% trans "Titulo o descripcion" %}" type="text"
                       name="content" value="{{ request.POST.content }}">
            </div>
            <div class="input-group form-group" data-icon="down">
                <select id="estado_propuesta" name="estado_propuesta">
                    <option value="">-- Estado de la propuesta --</option>
                    <option {% if request.POST.estado_propuesta == 0 %}selected="Enviado" {% endif %}>Enviado</option>
                    <option {% if request.POST.estado_propuesta == 1 %}selected="Aceptado" {% endif %}>Aceptado</option>
                    <option {% if request.POST.estado_propuesta == 2 %}selected="Rechazado" {% endif %}>Rechazado</option>

                </select>
            </div>
            {% if request.user.is_authenticated %}
                <div class="input-group form-group">
                    <input type="checkbox" name="like" value="like"  {% if request.POST.like %} checked{% endif %}>Guardado<br>
                </div>
            {% endif %}
            <div class="input-group form-group">
                <input type="submit" class="btn-primary significant" value="{% trans "Buscar" %}">
            </div>
        </div>
    </form>
    <form action="/propuestas/clear" method="post" class="navbar-form navbar-center" role="search">{% csrf_token %}
        <div class="input-group form-group">
            <input type="submit" class="btn-primary significant" value="{% trans "Eliminar filtros" %}">
        </div>
    </form>
</div>
