{% extends "accounts/account_form.html" %}
{% load i18n %}

{% block main %}

{% if request.user.is_authenticated %}
    <p>{% trans "Ya estás logueado. Si prefieres loguearte con otro usuario, antes deberás hacer logout." %}</p>
{% else %}
    {{ block.super }}
    {% url "signup" as signup_url %}
    <p>{% blocktrans with request.GET.next as next %}Si todavía no tienes una cuenta <a href="{{ signup_url }}?next={{ next }}">sign up</a> para crear una.{% endblocktrans %}</p>
    {% url "mezzanine_password_reset" as password_reset_url %}
    {% url "profile_update" as profile_update_url %}
    {% blocktrans %}<p>También puedes <a href="{{ password_reset_url }}?next={{ profile_update_url }}">resetear tu contraseña</a> si se te ha olvidado.</p>{% endblocktrans %}</p>
{% endif %}

{% endblock %}
