{% extends "accounts/account_form.html" %}
{% load i18n %}

{% block main %}
{% if request.user.is_authenticated %}
    <p>{% trans "Ya has iniciado sesión. Si quieres crear una cuenta nueva, primero debes cerrar sesión." %}</p>
{% else %}
    {{ block.super }}
    {% if settings.ACCOUNTS_APPROVAL_REQUIRED %}
    <p>{% trans "Después de registrarse, su cuenta será revisada para su aprobación. Recibirá un correo electrónico cuando se active su cuenta." %}</p>
    {% elif settings.ACCOUNTS_VERIFICATION_REQUIRED %}
    <p>{% trans "Después de registrarse, recibirás un correo electrónico con un enlace al que necesitas hacer clic para activar tu cuenta." %}</p>
    {% endif %}
{% endif %}

{% endblock %}
