{% extends "pages/page.html" %}

{% load mezzanine_tags adept_tags %}

{% block main %}
<div class="special-wrapper wrapper-1">
    {% editable page.faqpage.content %}
    {{ page.faqpage.content|richtext_filters|safe }}
    {% endeditable %}
</div>

<div class="wrapper-1">
   <div class="panel-group">
        {% if request.user|can_view_help %}
        <div class="text-center">
        <span class="theme-help" data-toggle="tooltip" data-placement="top" data-trigger="manual" title="Click admin in the upper left to add more."></span>
        </div>
        {% endif %}

        {% for faq in page.faqpage.faqs.all %}
        <div class="panel panel-default">
            {% editable faq.question faq.answer %}
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" href="#faq-{{ faq.id }}">
                    {{ faq.question }}
                    </a>
                </h4>
            </div>
            <div id="faq-{{ faq.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    {{ faq.answer|richtext_filters|safe }}
                </div>
            </div>
            {% endeditable %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}