{% load mezzanine_tags keyword_tags %}
{% load pages_tags i18n staticfiles %}
{% load ofertasTags %}
{% load comments %}
{% if request.user.is_authenticated %}
    <hr>
    <div class="row no-margin">
        <div class="col-md-12">
            <h4><i class="fa fa-paper-plane-o"></i> Deja un comentario:</h4>
            <form action="comentario" method="post" class="form-horizontal"
                  enctype="multipart/form-data">{% csrf_token %}
                <input style="width: 100%;" placeholder="Título" type="text" name="title" value="" required>
                <div>
                    <textarea class="mce_comentario" name="comentario" style="margin-top: 1%; width: 100%;"
                              rows="3"></textarea>
                </div>
                 <div class="input-group form-group">
                    <input type="checkbox" name="anonimo" value="true" >Anónimo<br>
                </div>
                <button type="submit" name="comment_submit" id="comment_button" class="btn btn-success"><i
                        class="fa fa-reply"></i> Enviar
                </button>
            </form>
        </div>
    </div>
    <hr>
{% endif %}
{% if comments %}
    <div class="container">
        <h2 class="page-header" style='color: #259DCD;'>Comentarios</h2>
        {% for elemento in comments %}
            <section class="comment-list">
                <!-- First Comment -->
                <article class="row no-margin">
                    <div class="col-md-2 col-sm-2 hidden-xs">
                        {% if elemento.anonimo %}
                            User anonimo
                        {% else %}
                            <figure class="thumbnail">
                                <img class="img-responsive"
                                     src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
                                <figcaption class="text-center">{{ elemento.usuario.username }}</figcaption>
                            </figure>
                        {% endif %}
                    </div>

                    <div class="col-md-9 col-sm-9">
                        <div class="panel panel-default arrow left">
                            <div class="panel-body">
                                <header class="text-left">
                                    <div class="comment-user"><strong>{{ elemento.titulo }}</strong></div>
                                    <time class="comment-date" datetime="16-12-2014 01:05"><i
                                            class="fa fa-clock-o"></i> {{ elemento.fecha }}</time>
                                </header>
                                <div class="comment-post">
                                    <p>
                                        {{ elemento.comentario }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        {% endfor %}
    </div>
{% else %}
     <h2 class="page-header" style='color: #259DCD;'>Todavía no hay comentarios</h2>
{% endif %}